@model List<EFreshStore.Models.Context.Order>
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_CommonMaster.cshtml";
}

<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Chart</li>*@
        </ul>
    </div>
</div>
<!-- Chart AREA -->
<div class="chart-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-item table-responsive fix">
                    <form>
                        <fieldset id="text">
                            <table class="col-md-12" id="tblCartProduct">
                                <thead>
                                    <tr>
                                        <th class="th-total">Order No</th>
                                        <th class="th-qty">Customer Name</th>
                                        <th class="th-qty">Mobile No</th>
                                        <th class="th-qty">Email</th>
                                        <th class="th-qty">Delivery Address</th>
                                        <th class="th-qty">Master Depo</th>
                                        @*<th class="th-delate">Delete</th>*@
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>

                                                <td class="th-product">
                                                    @item.OrderNo
                                                </td>
                                                <td class="th-details">
                                                    @item.CustomerName
                                                </td>

                                                <td class="th-qty">@item.MobileNo</td>
                                                <td class="th-qty">@item.Email</td>
                                                <td class="th-price">@item.DeliveryAddress</td>
                                                @if (item.MasterDepot != null)
                                                {
                                                    <td class="th-details">@item.MasterDepot.Name</td>
                                                }
                                                else
                                                {
                                                    <td class="th-details"></td>
                                                }

                                                @*<td class="th-delate"><a href="#"><i class="fa fa-trash"></i></a></td>*@
                                            </tr>
                                        }
                                    }
                                    @*<tr>
                                            <td class="th-product">
                                                <a href="#"><img src="~/Content/img/cart/cart-2.jpg" alt="cart"></a>
                                            </td>
                                            <td class="th-details">
                                                <h2><a href="#">Baby New Style Jackets</a></h2>
                                                <div class="best-product-rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <p>Product Color : Red</p>
                                                <p>Product Code  : 2201 RS</p>
                                            </td>
                                            <td class="th-edit"><a href="#">Edit</a></td>
                                            <td class="th-qty">
                                                <input type="number" min="1" placeholder="1">
                                            </td>
                                            <td class="th-price">$225.00</td>
                                            <td class="th-total">$450.00</td>
                                            <td class="th-delate"><a href="#"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="th-product">
                                                <a href="#"><img src="~/Content/img/cart/cart-3.jpg" alt="cart"></a>
                                            </td>
                                            <td class="th-details">
                                                <h2><a href="#">Baby New Style Jackets</a></h2>
                                                <div class="best-product-rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <p>Product Color : Red</p>
                                                <p>Product Code  : 2201 RS</p>
                                            </td>
                                            <td class="th-edit"><a href="#">Edit</a></td>
                                            <td class="th-qty">
                                                <input type="number" min="1" placeholder="1">
                                            </td>
                                            <td class="th-price">$225.00</td>
                                            <td class="th-total">$450.00</td>
                                            <td class="th-delate"><a href="#"><i class="fa fa-trash"></i></a></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </fieldset>
                    </form>

                </div>
                <div class="cart-button">
                    @*<button type="button" onclick="window.location.href ='/Home/Index'" class="btn">Continue Shopping</button>*@
                    @*<button type="button" class="btn floatright">Update Cart</button>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cart-shopping-area fix">
                <div class="col-md-4 col-sm-4">
                    @*<div class="calculate-shipping chart-all">
                            <h2>CALCULATE SHIPPING</h2>
                            <p>Enter your destination to get a shipping estimate.</p>
                            <select>
                                <option>Sellect Country</option>
                                <option>America</option>
                                <option>Afganisthan</option>
                                <option>Bangladesh</option>
                                <option>Chin</option>
                                <option>Japna</option>
                            </select>
                            <select>
                                <option>State/Provinence</option>
                                <option>Dhaka</option>
                                <option>Borishal</option>
                                <option>Gajipur</option>
                                <option>Kustiya</option>
                                <option>Vola</option>
                                <option>Gaibandha</option>
                            </select>
                            <input type="text" placeholder="Zip / Post Code">
                            <button type="button" class="btn">Get A Quote</button>
                        </div>*@
                </div>
                <div class="col-md-4 col-sm-4">
                    @*<div class="chart-all">
                            <h2>PROMOTIONAL CODE</h2>
                            <p>Enter your destination to get a shipping estimate.</p>
                            <input type="text" placeholder="Zip / Post Code">
                            <button type="button" class="btn">Get A Quote</button>
                        </div>*@
                </div>
                
            </div>
        </div>
    </div>
</div>

