@using EFreshStore.Models
@using EFreshStore.Models.ViewModels
@using EFreshStore.Utility
@model EFreshStore.Models.Context.User
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Master.cshtml";
    long userTypeId = 0;
    if (Request.Cookies["username"] != null)
    {
        Session["email"] = Request.Cookies["username"].Value;
        var x = Session["email"];
    }
    if (Request.Cookies["usertypeid"] != null)
    {
        Session["UserTypeId"] = Request.Cookies["usertypeid"].Value;
    }
    if (Request.Cookies["userid"] != null)
    {
        Session["UserId"] = Request.Cookies["userid"].Value;
    }
    if (Request.Cookies["discountPercentage"] != null)
    {
        Session["discount"] = Request.Cookies["discountPercentage"].Value;
        var y = Session["discount"];
    }
    if (Request.Cookies["AccessToken"] != null)
    {
        LoginCredentials loginCredentials = new LoginCredentials
        {
            AccessToken = Request.Cookies["AccessToken"].Value,
            RefreshToken = Request.Cookies["RefreshToken"].Value,
            TokenType = Request.Cookies["TokenType"].Value,
            ExpiresIn = Convert.ToInt32(Request.Cookies["ExpiresIn"].Value),
            Error = Request.Cookies["Error"].Value
        };
        Session["userToken"] = loginCredentials;
    }
    string email = Session["email"].ToString();

    var user = ApiUtility.GetByUserEmail(email);
    var oldPassword = user.Password;

}


<div id="page">

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Go to Home Page" href="@Url.Action("Index","Home")">Home</a><span>&raquo;</span></li>
                        <li><strong>Change Password</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="page-content">
                <div class="account-login">
                    <div class="box-authentication new-customer-box Account Page ">

                        @using (Html.BeginForm("ChangePassword", "Home", null, FormMethod.Post, new { id = "changePasswordForm" }))
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="mgs">
                                        @if (@ViewBag.Message != null)
                                        {<div class="alert alert-warning" id="alertMessage">
                                        <strong>@ViewBag.Message!</strong> .
                                    </div>
                                        }
                                    </div>
                                    <div class="check-title">
                                        <h4>Change Password</h4>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    @*<label> Old Password <span class="required">*</span></label>*@
                                    <div class="input-text">
                                        @Html.Password("oldPassword", null, new { @class = "form-control", placeholder = "Enter old password" })
                                        @Html.ValidationMessage("oldPassword")
                                        <input type="hidden" id="oPassword" value="@oldPassword" />
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    @*<label> New Password <span class="required">*</span></label>*@
                                    <div class="input-text">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter new password",style="margin-top: 20px" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    @*<label> Confirm Password <span class="required">*</span></label>*@
                                    <div class="input-text">
                                        @Html.Password("confirmPassword", null, new { @class = "form-control", placeholder = "Confirm password",style="margin-top: 20px" })
                                        @Html.ValidationMessage("confirmPassword")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="submit-text">
                                        <button class="button"><i class="fa fa-lock"></i>&nbsp; <span>Change Password</span></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Container End -->
    <!-- service section start -->
    @*<div class="container">
        <div class="jtv-service-area">
            <div class="row">
                <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="block-wrapper ship">
                        <div class="text-des">
                            <i class="icon-rocket"></i>
                            <h3>FREE SHIPPING & RETURN</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="block-wrapper return">
                        <div class="text-des">
                            <i class="fa fa-dollar"></i>
                            <h3>MONEY BACK GUARANTEE</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="block-wrapper support">
                        <div class="text-des">
                            <i class="fa fa-headphones"></i>
                            <h3>ONLINE SUPPORT 24/7</h3>
                            <p>Lorem ipsum dolor sit amet. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- service section end-->
    <!-- our clients Slider -->
    @*<div class="our-clients">
        <div class="container">
            <div class="slider-items-products">
                <div id="our-clients-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">

                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand1.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand2.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand3.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand4.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand5.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand6.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand7.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- End our clients Slider -->


</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#changePasswordForm').addClass('active');
            $(function () {
                setTimeout(function () {
                    $("#mgs").hide('blind', {}, 500);
                }, 5000);
            });
          
            jQuery.validator.addMethod("notEqual", function (value, element, param) {
                return this.optional(element) || value !== $(param).val();
            }, "This has to be different...");
            $("#changePasswordForm").validate({
                rules: {
                    Password: {
                        required: true,
                        minlength: 6,
                        notEqual: "#oPassword"
                    },
                    confirmPassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#Password"
                    },
                    oldPassword: {
						required: true,
                        equalTo: "#oPassword"
                    }
                },

                messages: {
                Password: {
                    required: "Please enter new password",
                    minlength: "Please enter at least 6 characters",
                    notEqual: "New password can't be same as old password"
                },
                confirmPassword: {
                    required: "Please re-enter new password",
                    minlength: "Please enter at least 6 characters",
                    equalTo: "Password doesn't match"
                   
                },
                oldPassword: {
					required: "Please enter old password",
                    equalTo: "Please enter your correct old password"
                }
            }
        });
        });

    </script>
}
