@model IEnumerable<EFreshStore.Models.Context.EntityModels.FAQ>
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Master.cshtml";
    int serialNo = 1;
}
<div class="container">
    <div class="row">
        <div class="faq-page">
            <div class="col-xs-12">

                <div class="page-title">
                    <h2>Frequently Asked Questions</h2>

                    <p>Aliquam posuere erat et orci eleifend cursus. Nullam tempus odio sem, lacinia pellentesque neque mollis a. In ut tempor ligula. Vestibulum ultricies bibendum lorem, a sollicitudin tellus euismod vel. Nam suscipit, diam ut volutpat lobortis, nibh ipsum tempor nibh, a vehicula tellus justo id nibh. Nulla pretium mollis convallis. Phasellus a nibh aliquet, ullamcorper quam aliquam, faucibus nulla. Phasellus mollis tristique vehicula. Vivamus sagittis, sem sed posuere aliquet, massa odio lobortis.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="panel-group accordion-faq" id="faq-accordion">
                    @foreach (var data in Model)
                    {
                        @*<div class="panel">
                            <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion_@data.Id" href="#question_@data.Id"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span>@serialNo. @data.Question</a>
                            </div>
                            <div id="question_@data.Id" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    @Html.Raw(data.Answer)
                                </div>
                            </div>
                        </div>*@

                        <div class="panel">
                            <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question_@serialNo" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span><span class="arrow-up"><i class="fa fa-angle-up"></i></span>@serialNo. @data.Question</a>
                            </div>
                            <div id="question_@serialNo" class="panel-collapse collapse">
                                <div class="panel-body">@Html.Raw(data.Answer)</div>
                            </div>
                        </div>
                        serialNo++;
                    }
                    @*<div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question3" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span> Nulla porttitor tortor at nisl. Nam lectus nulla. dictum et, pulvinar non, ultricies ac, nibh.</a> </div>
                        <div id="question3" class="panel-collapse collapse">
                            <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem. Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis. Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, ferMentum ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question2" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span>Odio sed molestie molestie, enim urna vehicula magna, eu venenatis velit nunc eget justo.</a> </div>
                        <div id="question2" class="panel-collapse collapse">
                            <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem. Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis. Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, ferMentum ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question5" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span>Curabitur convallis facilisis lorem. Vivamus euismod nulla vel nunc.  Curabitur molestie euismod erat.</a> </div>
                        <div id="question5" class="panel-collapse collapse">
                            <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem. Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis. Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, ferMentum ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question4" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span><span class="arrow-up"><i class="fa fa-angle-up"></i></span>pellentesque venenatis, felis magna nonummy eros, quis ultrices odio lorem quis urna. </a> </div>
                        <div id="question4" class="panel-collapse collapse">
                            <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem. Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis. Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, ferMentum ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question6" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget. </a> </div>
                        <div id="question6" class="panel-collapse collapse">
                            <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem. Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis. Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, ferMentum ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">

                <div class="content-box color-effect-1">
                    <h3>One More Question?</h3>

                    <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                        <div class="box-icon"><i class="fa fa-question"></i></div>
                    </div>

                    <p>If you have more questions, send us a message and we will answer you as soon as possible.</p>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $('#home').removeClass('active');
            $('#faq').addClass('active');
            $(function () {
                setTimeout(function () {
                    $("#mgs").hide('blind', {}, 500);
                }, 5000);
            });
        });
    </script>
}