@using Vereyon.Web
@model EFreshStore.Models.Context.Brand

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CommonMaster.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/form-design.css" />
</head>


<body>
<div class="container">
    <div class="form-horizontal" id="div1">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditBrandForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3>Brand</h3>
                <hr/>
                @Html.ValidationSummary(true)
                @Html.RenderFlashMessages()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedOn)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-default"/>
                    </div>
                </div>
            </div>
         
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <div style="padding-top: 80px"></div>
    </div>
</div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#EditBrandForm").validate({
            rules: {

                Name:"required",
                Description: "required"
            },
            messages: {
                Name: "Please enter name",
                Description: "Please enter description"
            }
        });
        });
    </script>
}
